/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body,
h1,
h2,
p,
blockquote {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2 {
  line-height: 1.1;
}

/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* ===== BASE STYLES ===== */

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: white;
}

/* body {
    max-width: 350px;
    margin: auto;
} */

.page-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* ===== MOBILE LAYOUT ===== */

.hero-image-desktop-left {
  display: none;
}

.hero-image-desktop-right {
  display: none;
}

.hero-text-buttons,
.main-content {
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.hero-para,
.main-para,
.footer-para {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: auto;
}

.main-para, .footer-para {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 2rem;
}

.topper-text {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #4d96a9;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.25rem;
}

.hero-image {
  width: calc(100% + 50px);
  transform: translateX(-25px)
}

h1 {
  font-size: 2.9rem;
  font-weight: 800;
  color: #28283d;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #28283d;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.hero-para {
  font-size: 1.2rem;
  font-weight: 500;
  color: #87879d;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  gap: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 30px;
}

.dl-button {
  background-color: #4d96a9;
}

.dl-button:hover {
  background-color: #71C0D4;
  cursor: pointer;
}

.version {
  color: #8FE3F9;
}

.what-button {
  background-color: #855fb1;
}

.what-button:hover {
  background-color: #B18BDD;
  cursor: pointer;
}

.main-content {
  margin-top: 4rem;
}

.section-divider1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.vertical-line {
  border-left: 0.5px solid hsl(240, 10%, 57%);
  height: 75px;
  left: 50%;
}

.number-divider-circle {
  width: 50px;
  height: 50px;
  background-color: white;
  margin: auto;
  padding: 1rem;
  border: 0.5px solid hsl(240, 10%, 57%);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.number {
  color: hsl(240, 10%, 57%);
  font-weight: 800;
}

.image-grid {
  margin: 3.5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.grid-image {
  border-radius: 10px;
  flex: 0 1 calc(50% - 0.5rem);
  max-width: calc(50% - 0.5rem);
  height: auto;
  display: block;
}

.main-para {
  color: #87879d;
  margin-bottom: 4rem;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  background-image: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.color-layer {
  background-color: rgba(77, 150, 169, 0.9);
  padding: 3.5rem 0;
}

.section-divider2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: -25px;
  z-index: 1;
}

.footer-inner {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  margin-top: 1rem;
  color: white;
}

.footer-para {
  color: white;
  margin-bottom: 2rem;
}

.dl-button-footer {
  background-color: #855fb1;
  margin-bottom: 1rem;
}

.dl-button-footer:hover {
  background-color: #B18BDD;
  cursor: pointer;
}

.version-footer {
  color: #D9B8FF;
}

/* ===== TABLET LAYOUT ===== */

@media (min-width: 750px) {

  .hero-text-buttons {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    max-width: 75%;
    margin: auto;
  }

  .buttons {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  margin: auto;
  gap: 1rem;
  margin-bottom: 3.5rem;
}

h1 {
  font-size: 3.3rem;
}

.hero-para {
  font-size: 1.3rem;
}

.main-content {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  padding: 0 2.5rem;
}

.image-grid {
  margin: 3.5rem auto;
  display: flex;
  max-width: 800px;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid-image {
  border-radius: 10px;
  flex: 0 1 calc(25% - 0.75rem);
  max-width: calc(25% - 0.75rem);
  height: auto;
  display: block;
}

.main-text-container {
  max-width: 600px;
  margin: auto;
}

.footer-container {
  width: 100%;
  background-image: url(./assets/tablet/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

}

/* ===== DESKTOP LAYOUT ===== */

@media (min-width: 1024px) {

  .hero-image {
    display: none;
  }

  .hero-image-desktop-left, .hero-image-desktop-right {
    display: block;
  }

  .hero-text-buttons {
    max-width: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-buttons {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-content {
  max-width: 1300px;
  margin: auto;
  margin-top: 2rem;
  padding: 0 2.5rem;
}

  .image-grid {
  margin: 3.5rem auto;
  display: flex;
  max-width: 1100px;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.grid-image {
  border-radius: 10px;
  flex: 0 1 calc(30% - 0.3rem);
  max-width: 250px;
  height: auto;
  display: block;
}

.footer-container {
  width: 100%;
  background-image: url(./assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

}


